@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="fb-root"></div>
<script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
</script>

<div class="row">
    <div class="col-sm-6">
        <h3>Locatie Plathé</h3>
        <p>
            Wilt u een routebeschrijving maken dan kunt u hier op <a href="https://www.google.nl/maps/dir//Hogeschoollaan+1,+4818+CR+Breda/" target="blank">Routebeschrijving</a> klikken.
            <br/>
        </p>
        <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2479.1508455714743!2d4.7969819000000005!3d51.583798699999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6a1d789c96779%3A0x88fcdd7b2eca65a8!2sHogeschoollaan+1%2C+4818+CR+Breda!5e0!3m2!1snl!2snl!4v1433401957100" width="600" height="450" frameborder="0" style="border: 0"></iframe>
        </div>
    </div>
    <div class="col-sm-4">
        <h3>Plathé op Facebook</h3>
        <div class="fb-page" data-href="https://www.facebook.com/idh8a5" data-hide-cover="true" data-show-facepile="true" data-show-posts="true">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/idh8a5">
                    <a href="https://www.facebook.com/idh8a5">Plathè</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>