@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Contact pagina


<a href="https://www.google.nl/maps/dir//Hogeschoollaan+1,+4818+CR+Breda/" target="blank">Routebeschrijving</a>

<h3>Plathé op Facebook</h3>
<h3>Plathé op Twitter</h3>