@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Plathe";
}

<div id="slider">
    <div class="slide"><img src="~/Content/img/banner_avengers.jpg" /></div>
    <div class="slide"><img src="~/Content/img/banner_sanandreas.png" /></div>
    <div class="slide"><img src="~/Content/img/banner_shaun.jpg" /></div>
    
    <a class="sliderPrev" onclick="slider.sliderPrev()"></a>
    <a class="sliderNext" onclick="slider.sliderNext()"></a>
</div>

<div>
    <div class="col-sm-4">
        <h2>Ladiesnight</h2>
        <p>Een avondje gezellig uit met jouw vriendinnen? Ga dan nu naar de Ladiesnight bij Plathé!</p>
    </div>
    <div class="col-sm-4">
        <h2>Popcornmenu</h2>
        <p>Wat te snacken bij de film? Voor slechts 5 euro krijg je al een drankje en consumptie naar keuze! </p>
    </div>
    <div class="col-sm-4">
        <h2>Sneakpreview</h2>
        <p>Houdt je van een verrassing? Ga dan nu met 2,50 korting naar een willekeurig geselecteerde film.</p>
    </div>
</div>