@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Plathe";
}

<ul>
    <li><a href="/shows/">Link naar voorstellingen</a></li>
    <li><a href="/movies/">Link naar films (informatie pagina)</a></li>
    <li><a href="/home/contact">Link naar contact pagina voor Routebeschrijving + Social Media</a></li>
</ul>