@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Plathe";
}

<ul>
    <li><a href="/shows/">Link naar voorstellingen</a></li>
    <li><a href="/movie/">Link naar films (informatie pagina)</a></li>
    <li><a href="/home/contact">Link naar contact pagina voor Routebeschrijving + Social Media</a></li>
</ul

<div>
    <div class="col-sm-4">
        <h2>Ladiesnight</h2>
        <p>Een avondje gezellig uit met jouw vriendinnen? Ga dan nu naar de Ladiesnight bij Plathé!</p>
    </div>
    <div class="col-sm-4">
        <h2>Popcornmenu</h2>
        <p>Wat te snacken bij de film? Voor slechts 5 euro krijg je al een drankje en consumptie naar keuze! </p>
     </div>
    <div class="col-sm-4">
        <h2>Sneakpreview</h2>
        <p>Houdt je van een verrassing? Ga dan nu met 2,50 korting naar een willekeurig geselecteerde film.</p>
    </div>
</div>