@model Plathe.Backend.Models.LogInViewModel
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Log In";
}

<div class="login">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Inloggen Plathé
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true)

            @using (Html.BeginForm())
            {
                @Html.EditorForModel(new { htmlAttributes = new { @class = "form-control" } })
                <br/>
                <p>
                    <button class="btn btn-primary" type="submit">Log In</button>
                </p>
            }
        </div>
    </div>
</div>