@using Plathe.Domain.Entities
@model IEnumerable<Movie>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Films";
}

<div class="col-sm-2">

    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Alle films</a></li>
        <li role="presentation"><a href="#">Genre</a></li>
        <li role="presentation"><a href="#">Kijkwijzerindicator</a></li>
    </ul>

</div>


@foreach (var p in Model)
{

    <div class="col-sm-2">

        <a href="/Movies/ViewAMovie/@Html.DisplayFor(modelItem => p.MovieID)">
        <img src='@p.Image' />
        <h3>@p.Title</h3>
        </a>
            
    </div> 
}