@using Plathe.Domain.Entities
@model IEnumerable<Movie>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Films";
}

<div class="row movie-overview">
    <div class="col-sm-2">

        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Alle films</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    Genre<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>Actie</li>
                    <li>Animatie</li>
                </ul>
            <li role="presentation"><a href="#">Kijkwijzerindicator</a></li>
        </ul>

    </div>
    <div class="col-sm-8">
        <div class="row">
            @foreach (var p in Model)
            {
                <div class="col-sm-3 item">
                    <a href="/Movie/Details/@Html.DisplayFor(modelItem => p.MovieID)">
                        <img src='@p.Image' />
                        <h3>@p.Title</h3>
                    </a>
                </div>
            }
        </div>
    </div>
</div>