body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-header {

}

.translated-ltr .navbar-fixed-top {
    top: 39px;
}

.movie-overview .item {
    min-height: 350px;
}

.screen {
    width: 80%;
    margin: 30px auto 20px;
    text-align: center;
    color: #eee;
    font-size: 34px;
}

.screen hr {
    margin: 10px 0 0;
    padding: 0;
}

.table-seats {

}

.table-seats > tbody > tr > td {
    text-align: center;
    padding: 0;
    border-top: 0 !important;
}

span.seat {
    background: #c49b27;
    border: 0;
    border-radius: 0;
    font-size: 19px;
    padding: 0;
    position: relative;
    width: 16px;
    height: 15px;
    display: block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

span.seat:after {
    content: '';
    width: 6px;
    height: 8px;
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 5px;
}

span.seat.priority-seat {
    background: #f4c131;
}

span.seat.reserved {
    cursor: default;
    background: #fc0d1b;
    margin: 0 auto;
}

span.seat.not-reserved:hover {
    background: #4cff00 !important;
}

.seat-label {
    cursor: pointer;
}

input[type=checkbox].seat-input {
    display: none;
}

input:checked + span {
    background: #4cff00 !important;
}

.table-legend { table-layout: fixed; }
.table-legend .normal { background: #c49b27; }
.table-legend .premium { background: #f4c131; }
.table-legend .reserved { background: #fc0d1b; }
.table-legend .selection { background: #4cff00; }

#google_translate_element { float: right;}