@using Plathe.AdminUI.Infrastructure
@using Plathe.AdminUI.Models
@model IEnumerable<AppRole>
@{ ViewBag.Title = "Roles"; }
<div class="row">
    <div class="col-md-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Alle rollen</h3>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>Naam</th>
                    <th>Gebruikers</th>
                    <th></th>
                </tr>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="3" class="text-center">Er zijn geen rollen aanwezig</td>
                    </tr>
                }
                else
                {
                    foreach (AppRole role in Model)
                    {
                        <tr>
                            <td>@role.Name</td>
                            <td>
                                @if (role.Users == null || role.Users.Count == 0)
                                {
                                    @: Er zijn geen gebruikers aan de rol gekoppeld
                        }
                                else
                                {
                                    <p>
                                        @string.Join(", ", role.Users.Select(x => Html.GetUserName(x.UserId)))
                                    </p>
                                }
                            </td>
                            <td class="text-right">
                                @using (Html.BeginForm("Delete", "RoleAdmin", new { id = role.Id }))
                                {
                                    @Html.ActionLink("Bewerken", "Edit", new { id = role.Id }, new { @class = "btn btn-warning btn-xs" })
                                    <button class="btn btn-danger btn-xs" type="submit">Verwijderen</button>
                                }
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        @Html.ActionLink("Nieuwe rol", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>