@model Plathe.Domain.Entities.Reservation
@{
    ViewBag.Title = "Index";
}


<div>
    <h4>Uw bestelling</h4>


    Film:
    <table class="table">
        <thead>
            <tr>
                <td></td>
                <td>Aantal</td>
                <td>Totaal prijs</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Aantal volwassen:</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Aantal 65+:</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Aantal Kinderen:</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Aantal popcorn:</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<form method="post" action="/Payment/Ideal/@ViewBag.idReservation/">
    Uw bank: <select name="idealBank">
        <option value="exclude">Kies een bank</option>
        <option value="abn">ABN AMRO</option>
        <option value="asn">ASN Bank</option>
        <option value="ing">ING</option>
        <option value="knab">Knab</option>
        <option value="rabo">Rabobank</option>
        <option value="reg">RegioBank</option>
        <option value="sns">SNS Bank</option>
        <option value="tri">Triodos Bank</option>
        <option value="lans">Van Lanschot</option>
    </select>
    <button class="btn btn-success">Ga naar Ideal betaling</button>
</form>