@model Plathe.Domain.Entities.Reservation
@{
    ViewBag.Title = "Success";
}

<div class="text-center">
    <h1>Bedankt voor uw bestelling.</h1>
    <h2>Uw unieke code: @Model.UniqueCode</h2>
    
    <p class="hidden-print">Via onderstaande knop kunt u deze pagina uitprinten.</p>

    <a href="#" onclick="window.print()" class="hidden-print">Print deze pagina</a>
</div>