@model Plathe.Domain.Entities.Reservation
@{
    ViewBag.Title = "Success";
}

<div class="text-center">
    <h1>Bedankt voor uw bestelling.</h1>
    <h2>Uw unieke code: @Model.UniqueCode</h2>
    <p>U ontvangt deze code ook via het eerder opgegeven e-mail adres</p>
</div>