@model Plathe.Domain.Entities.Reservation
@{
    ViewBag.Title = "Success";
}

<div class="text-center">
    <h1>Bedankt voor uw bestelling.</h1>
    <h2>Uw unieke code: @Model.UniqueCode</h2>
    
    <p>Via onderstaande knop kunt u deze pagina uitprinten.</p>

    <script>var pfHeaderImgUrl = ''; var pfHeaderTagline = ''; var pfdisableClickToDel = 1; var pfHideImages = 1; var pfImageDisplayStyle = 'right'; var pfDisablePDF = 0; var pfDisableEmail = 0; var pfDisablePrint = 0; var pfCustomCSS = ''; var pfBtVersion = '1'; (function () { var js, pf; pf = document.createElement('script'); pf.type = 'text/javascript'; if ('https:' == document.location.protocol) { js = 'https://pf-cdn.printfriendly.com/ssl/main.js' } else { js = 'http://cdn.printfriendly.com/printfriendly.js' } pf.src = js; document.getElementsByTagName('head')[0].appendChild(pf) })();</script><a href="http://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" class="printfriendly" onclick="        window.print(); return false;" title="Printer Friendly and PDF"><img style="border:none;-webkit-box-shadow:none;box-shadow:none;" src="http://cdn.printfriendly.com/button-print-gry20.png" alt="Print Friendly and PDF" /></a>
</div>