@* Author: Mieke *@
@model IEnumerable<Plathe.Models.Movie>

@{
    ViewBag.Title = "ViewAllMovies";
}

<h2>Alle films</h2>
<br/>

@foreach (var item in Model)
{
    <div class="col-md-4 viewallmovies">
        <div>
            <a href="/movies/ViewAMovie/@Html.DisplayFor(modelItem => item.MovieID)">
                <img src='@item.Image'/>
                <br/>
                <h1>@item.Title</h1>
            </a>
        </div>
    </div>
}


