@{
    ViewBag.Title = "Code invoeren";
}


<div class="text-center">

    <img src="http://www.placehold.it/250" alt="unieke code">
    <p>Voer hieronder uw code in</p>
    <form method="post" action="/code/CheckCode">
        @Html.AntiForgeryToken()
        <input type="text" name="code" value="" />
        <br />
        <button type="submit" class="btn btn-sm btn-primary">Print Ticket(s)</button>
    </form>
</div>
