
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-header">
                Aankomende films:
            </div>
            <div class="list-group">
                <a class="list-group-item">Bestel tickets</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-header">
                Aankomende films:
            </div>
            <div class="list-group">
                <a class="list-group-item">Bestel tickets</a>
            </div>
        </div>
    </div>
</div>
