@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <span class="glyphicon glyphicon-credit-card" style="font-size: 150px;"></span>

    <p>Volg de aanwijzigen op de pinautomaat</p>
</div>

@section Scripts {
    <script type="text/javascript">

        $(function () {
            window.setInterval(function () {
                window.location.replace("/Tickets/Printing/@ViewBag.idReservation");
            }, 5000);
        });
    </script>
}