@model Plathe.TabletUI.Models.MovieViewModel

@{
    ViewBag.Title = "Alle films";
}
<div class="row moviesOverview">
    @foreach (var item in Model.Movies)
    {
        <div class="col-md-4 movie ">
            <div class="block">
                <a href="@Url.Action("Details", "Movie", new { id = item.MovieID })">
                    <img src='@item.Image' height="250" />
                    <div class="caption">
                        <h3>@item.Title</h3>
                    </div>
                </a>
            </div>
        </div>
    }
</div>