body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.show-thumbnail {

    margin-right: 10px;
}

.show-content {

}

.show-content h4 {
    color: #222;
    font-weight: bold;
    margin: 10px 0 10px;
}

.kijkwijzer {
    margin: 0 0 10px;
}

.show {
    margin-bottom: 20px;
    min-height: 240px;
}

.m-5 {
    margin: 5px;
}

.mw-250 {
    max-width: 250px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
