body {
    padding-top: 70px;
    padding-bottom: 30px;
}
/* Validation */
.validation-summary-valid {
    display: none;
}
/* Navigation */
.navbar-inverse {
    background-color: #ccc;
    border-color: #9d9d9d;
}

.navbar-brand {
    padding: 7px 15px 7px 15px;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #080808;
    background-color: transparent;
}
.form-group{ overflow: hidden;}