body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-inverse {
    background-color: #ffc426;
    border-color: #ffc426;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .nav > li > a {
    color: #fff;
}

.navbar-inverse .nav > li > a:hover {
    color: #999;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.validation-summary-errors ul {
    padding-left: 15px;
}

.date-switch {
    margin-bottom: 15px;
}

.legend,
.legend li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.input-daterange {
    display: inline;
}

input.single-line {
    display: inline;
    width: 150px;
}

.input-daterange span.add-on {
    height: 34px;
    padding: 6px 10px;
}

.datepicker table tr td span {
    height: 42px;
    line-height: 42px;
}