
@{
    ViewBag.Title = "Printing";
}

<div class="text-center">

    <span class="glyphicon glyphicon-print" style="font-size: 150px;"></span>
    <p>Een moment geduld alstublieft, uw tickets worden geprint</p>
</div>