@{
    ViewBag.Title = "Bioscoop";
}

<div class="row">
    <div class="col-sm-6">

        <div class="home block">
            <a href="/Code/">
                <i class="glyphicon glyphicon-print"></i>
                <div class="caption">
                    <h3 class="text-center">Tickets printen</h3>
                </div>
            </a>
        </div>

    </div>
    <div class="col-sm-6">

        <div class="home block">
            <a href="/Shows/List">
                <i class="glyphicon glyphicon-play-circle"></i>
                <div class="caption">
                    <h3 class="text-center">Aankomende films</h3>
                </div>
            </a>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-6">

        <div class="home block">
            <a href="/ChooseForMe">
                <i class="glyphicon glyphicon-gift"></i>
                <div class="caption">
                    <h3 class="text-center">Kies voor mij</h3>
                </div>
            </a>
        </div>

    </div>
    <div class="col-sm-6">

        <div class="home block">
            <a href="/Movie/List">
                <i class="glyphicon glyphicon-list"></i>
                <div class="caption">
                    <h3 class="text-center">Alle films</h3>
                </div>
            </a>
        </div>

    </div>
</div>