@model Plathe.Backend.Models.SubscriptionPrintViewModel
@{
    ViewBag.Title = "Abonnement printen";
}

<div class="text-center">

    <div class="">
        Abonnement Plathé
        <hr/>
        Abonnementnummer: @Model.Subscription.SubscriptionNumber<br/>
        Naam: @Model.Subscription.Name<br/>
        Geldig van @Model.Subscription.StartDate t/m @Model.Subscription.EndDate<br/>
    </div>

</div>
