@{
    ViewBag.Title = "Index";
}

<h2>Plathé Administratie</h2>

<p>
    <a class="btn btn-default" href="/reviews/index"><i class="glyphicon glyphicon-pencil"></i> Reviews beoordelen</a>
    <a class="btn btn-default" href="/reports/occupationpershow"><i class="glyphicon glyphicon-stats"></i> Bekijk de bezetting per show</a>
    <a class="btn btn-default" href="/reports/revenue"><i class="glyphicon glyphicon-usd"></i> Bekijk de omzet</a>
</p>
<p>
    <a class="btn btn-danger" href="@Url.Action("Logout", "Auth")">Uitloggen</a>
</p>

