@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <a href="">
            <div class="thumbnail">
                <img src="http://www.placehold.it/250" alt="...">
                <div class="caption">
                    <h3>Code invoeren</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="">
            <div class="thumbnail">
                <img src="http://www.placehold.it/250" alt="...">
                <div class="caption">
                    <h3>Aankomende films</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="">
            <div class="thumbnail">
                <img src="http://www.placehold.it/250" alt="...">
                <div class="caption">
                    <h3>Kies voor mij</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="">
            <div class="thumbnail">
                <img src="http://www.placehold.it/250" alt="...">
                <div class="caption">
                    <h3>Alle films</h3>
                </div>
            </div>
        </a>
    </div>
</div>