@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-6">
        <a href="/Code/">
            <div class="home-block">
                <i class="glyphicon glyphicon-print"></i>
                <div class="caption">
                    <h3 class="text-center">Tickets printen</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="/Shows">
            <div class="home-block">
                <i class="glyphicon glyphicon-play-circle"></i>
                <div class="caption">
                    <h3 class="text-center">Aankomende films</h3>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <a href="/ChooseForMe">
            <div class="home-block">
                <i class="glyphicon glyphicon-gift"></i>
                <div class="caption">
                    <h3 class="text-center">Kies voor mij</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="/movies/ViewAllMovies">
            <div class="home-block">
                <i class="glyphicon glyphicon-list"></i>
                <div class="caption">
                    <h3 class="text-center">Alle films</h3>
                </div>
            </div>
        </a>
    </div>
</div>