@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-6">
        <a href="/Code/">
            <div class="thumbnail">
                <img src="http://www.placehold.it/250" alt="Code invoeren">
                <div class="caption">
                    <h3 class="text-center">Code invoeren</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="">
            <div class="thumbnail">
                <img src="http://www.placehold.it/250" alt="...">
                <div class="caption">
                    <h3 class="text-center">Aankomende films</h3>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <a href="">
            <div class="thumbnail">
                <img src="http://www.placehold.it/250" alt="...">
                <div class="caption">
                    <h3 class="text-center">Kies voor mij</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="/movies/ViewAllMovies">
            <div class="thumbnail">
                <img src="http://www.placehold.it/250" alt="...">
                <div class="caption">
                    <h3 class="text-center">Alle films</h3>
                </div>
            </div>
        </a>
    </div>
</div>